@import "~bootstrap/scss/bootstrap";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 4rem 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: blue;
  line-height: 1em;

  .nav-link {
    @extend .text-body;

    &.active {
      color: blue;
    }

    &:hover {
      background-color: $secondary;
      color: $light !important;
    }
  }
}

.sidebar-icon {
  color: $gray-500;
  margin-right: .4em;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 55px);
  padding-top: .5rem;
  margin-top: -.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  @extend .text-uppercase;
  font-size: .75rem;
}

@media print {
  .sidebar {
    display: none !important;
  }

  main {
    margin-left: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
  }
}